.slider-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-arrow {
    position: absolute;
    /* top: 50%; */
    right: 0;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    width: 30px;
    height: 30px;
    background-color: #000000;
    opacity: 0.7;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .left-arrow {
    position: absolute;
    /* top: 50%; */
    left: 0;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    width: 30px;
    height: 30px;
    background-color: #000000;
    opacity: 0.7;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .left-arrow:hover,
  .right-arrow:hover {
    background-color: #424141; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  
  .text-top-left {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 0 10px;
    font-size: clamp(2.083125rem, -0.0003rem + 1.7362vw, 6.25rem);
    font-weight: bold;
    text-align: left;
  }
  
  .text-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  @media screen and (min-width: 1920px) {
    .right-arrow,
    .left-arrow {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
  }
  
  @media screen and (max-width: 1920px) {
    .right-arrow,
    .left-arrow {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
    .text-top-left {
      font-size: clamp(1.73625rem, 0.0019rem + 1.7344vw, 2.083125rem);
    }
  }
  
  @media screen and (max-width: 1600px) {
    .right-arrow,
    .left-arrow {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
    .text-top-left {
      font-size: clamp(1.519375rem, 0.0012rem + 1.735vw, 1.73625rem);
    }
  }
  
  @media screen and (max-width: 1400px) {
    .right-arrow,
    .left-arrow {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
    .text-top-left {
      font-size: clamp(1.38875rem, -0.0046rem + 1.7417vw, 1.519375rem);
    }
  }
  
  @media screen and (max-width: 1280px) {
    .right-arrow,
    .left-arrow {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
    .text-top-left {
      font-size: clamp(1.19375rem, 0.0021rem + 1.7333vw, 1.38875rem);
    }
  }
  
  @media screen and (max-width: 1100px) {
    .right-arrow,
    .left-arrow {
      width: 25px;
      height: 25px;
      padding: 5px;
    }
    .text-top-left {
      font-size: clamp(0.868125rem, -0.0002rem + 1.7367vw, 1.19375rem);
    }
  }
  
  @media screen and (max-width: 800px) {
    .right-arrow,
    .left-arrow {
      width: 20px;
      height: 20px;
      padding: 5px;
    }
    .text-top-left {
      font-size: clamp(0.65125rem, 0.0006rem + 1.735vw, 0.868125rem);
    }
  }
  
  @media (max-width: 768px) {
    .right-arrow,
    .left-arrow {
      width: 20px;
      height: 20px;
      padding: 5px;
    }
    .text-top-left {
      font-size: clamp(0.976875rem, 0.0019rem + 2.6vw, 1.301875rem);
    }
    .text-bottom-left {
      font-size: clamp(0.68375rem, 0.0012rem + 1.82vw, 0.91125rem);
    }
  }
  
  @media screen and (max-width: 600px) {
    .text-top-left {
      font-size: clamp(0.520625rem, -0.0008rem + 2.6071vw, 0.976875rem);
    }
    .text-bottom-left {
      font-size: clamp(0.364375rem, -0.0006rem + 1.825vw, 0.68375rem);
    }
  }
